.view-customers-container {
    text-align: center;
    margin-top: 50px;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #2196F3;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  